html {
    
}

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 5%;
    background-color: #23ab44;
}

.medium {
    height: 60px;
    width: 180px;
    font-size: 30px;
    
}

#displayText,
#scoreText,
button {
    cursor: default;
    border-radius: 10px;
    padding: 1% 2%;
    border: 1px solid black;
    white-space: pre-line;
    text-align: center;
    background-color: #621b62;
    color: yellow;
}

#rpsButtonContainer {
    display: flex;
    gap: 5%;
}